.testimonailMainContainer{
    display: flex;
    flex-direction: column;
    /* height: 451px; */
    /* max-width: 1020px;
    width: 100%; */

    /* width: 68vw; */
    /* max-width: 150vw; */
    /* margin: 0 auto; */
    gap: 20.72px;
    padding-bottom: 58px;
}
.headingSection{
    height: 37px;
    width: 100%;
    letter-spacing: 0%;
    color: #1F2937;
    font-family: "Helvetica Neue";
    font-size: 25.898px;
    font-weight: 300;
    /* line-height: 36.257px; */
}
.videoTestimonialSection{
    height: 393px;
    width: 100%;
    gap: 20px;
    /* width: 100%; */
    /* overflow-x: auto; */
    /* border: 1px solid black; */
    display: flex;
 overflow: scroll;
    /* overflow-y: auto;          */
    scrollbar-width: none; 
}
.videoTestimonialSection::-webkit-scrollbar {
    display: none;              /* hide scrollbar in Chrome/Safari */
}
.testimonialCard{
    /* width: 450px; */

    height: 393px;
    /* border: 1px solid black; */
    border-radius: 0 25.9px 25.9px 25.9px;
    background-color: #F7F6F2;
    display: flex;

    /* min-width: 450px;  */
    /* flex-shrink: 0; */
}
.testimonialVideo{
    height: 300px;
    /* width: 170px; */
    /* border: 1px solid black; */
}
.videoTitle{
    /* height: 105px; */
    /* width: 120px; */
    position: absolute;
    top: 260px;
    left: 240px;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}
.titleBy{
    height: 40px;
    /* width: 105px; */
    position: absolute;
    top: 460px;
    left: 240px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}
.spanTitleBy{
    color:#6B7280 ;
}

.testimonialvideo2{
    width: 240px;
    height: 393px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    object-fit: cover;
    border-bottom-left-radius: 20px;
}
.titleContainer{
    /* height: 393px; */
    width: 100%;
    display: flex
    ;
        flex-direction: column;
        justify-content: space-between;
        padding: 23px;
        padding-bottom: 0;
        padding-top: 35px;
    
}
.videoTitle2{
    /* width: min-content; */
    /* height: 165px; */
    /* position: relative; */
    top: 35px;
    font-size: 27px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    left: 21px;
    font-weight: 300;
}
.titleBy2{
    /* width: 105px; */
    /* width: 105px; */
    height: 44px;
    /* position: relative; */
    top: 150px;
    left: 21px;
    font-size: 18.129px;
    line-height: normal;

}
.spanTitleBy2{
    color: rgba(0, 0, 0, 0.40);

    color: rgba(0, 0, 0, 0.40);

}

@media (max-width: 1500px) {
.videoTitle2{
    font-size: 24px;
}
.testimonialvideo2{
    width: 200px;
}
}

@media (max-width: 1280px) {
    .videoTitle2{
        font-size: 20px;
    }
    .testimonialvideo2{
        width: 180px;
    }
    }

@media (max-width: 480px) {
.headingSection{
    font-size: 20px;
    height: unset;
}
.testimonailMainContainer{
    padding: 0;
    gap: 16px;
    padding-bottom: 32px;
}
.testimonialCard{
    height: 304px;
}

.testimonialvideo2{
    width: 186px;
    height: 304px;
}
.videoTitle2{
    font-size: 21px;
}
.titleBy2{
    width: unset;
    font-size: 14px;
    margin-bottom: 13px;
}
.videoTestimonialSection{
    height: unset;
}

}