

.main_container{
    width: 936px;
    /* height: 850px; */
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    padding: 32px;
    margin-top: 60px;
  margin-bottom: 60px;
    /* margin-bottom: 60px; */

}
.h1{
 font-weight: lighter;
 font-size: 32px;
 margin-bottom: 20px;
 

}

.edit_icon{
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: rgba(243, 244, 246, 1);
    justify-content: center;
     display: flex;
     margin-bottom:20px ;
    align-items: center;

}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);

       
    
}

.details_section{
    border: 1px solid rgba(229, 231, 235, 1);
    border-radius: 20px;
    height: 670px;
    padding-left: 24px;
    margin-top: 24px;
    background-color: rgba(255, 255, 255, 1);
    

}
.hr_header{
    background: rgba(229, 231, 235,);
    text-decoration: solid;
    margin-top: 24px;
    width: 865px;

}
.hr{
    background: rgba(229, 231, 235,);
    text-decoration: solid;
    margin-top: 24px;
    width: 835px;
    
    
}


.name{
    
    /* border: 1px solid red; */
    height: 60px;
    background-color: rgba(255, 255, 255, 1);
}
.heading{
     margin-top  : 24px;
     margin-bottom: 24px;
     font-size: 16px;
     color: rgba(107, 114, 128, 1);
    background-color: rgba(255, 255, 255, 1);

}
.value{
    margin-top: 24px;
     margin-bottom: 24px;

    font-size: 20px;
    color: rgba(30, 41, 59, 1);
    background-color: rgba(255, 255, 255, 1);

}




.email{
     margin-top  : 12px;
       height: 60px;
    background-color: rgba(255, 255, 255, 1);

}



.Link{
    position: relative;
    top: -50px;
    left: -20px;
    color: rgba(177, 140, 7, 1);
    align-items: center;
    display: flex;
    justify-content: end;
    /* background-color: rgba(255, 255, 255, 1); */

}



.mobile{
   margin-top  : 12px;
     height: 60px;
    background-color: rgba(255, 255, 255, 1);

}


.investor{
    margin-top  : 24px;
      height: 60px;
}

.organization{
  margin-top  : 12px;
    height: 60px;
}



.location{
    margin-top  : 12px;
      height: 60px;
}
