.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  cursor: pointer;
  padding: 12px 0;
}

.section-header h3 {
  color: var(--Gray-800, #1F2937);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  /* 140% */
}

.section-body h2 {
  color: var(--Slate-800, #1E293B);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 21px */
  padding-top: 16px;
}

.barr {
  fill: linear-gradient(180deg, #b59131, #e6cf93);
}

.recharts-layer .recharts-bar-rectangle {
  fill: linear-gradient(180deg, #b59131, #e6cf93) !important;
}

.financial-container h2 {
  font-size: 14px;
  font-family: Helvetica;
  font-weight: 500;
  color: #1e293b;
  padding-bottom: 10px;
}

.key-financials-container .Accordion.Header {
  font-size: 20px;
  font-family: Helvetica;
  font-weight: 300;
  color: #1f2937;
  padding-bottom: 10px;
}

.section {
  border-bottom: 1px solid var(--Colors-Gray-100, #F3F4F6);
}

.key-financials-container .accordion-button:not(.collapsed) {
  background-color: transparent;
}

.key-financials-container .accordion-button:focus {
  box-shadow: none;
}

.key-financials-container {
  padding: 20px 20px;
}

/* .key-financials-container .accordion-item {
  border-left: none;
  border-right: none;
}

.key-financials-container .accordion-item:first-child {
  border-top: none;
} */

.key-financials-container .accordion-item button {
  font-size: 20px;
  font-family: Helvetica;
  font-weight: 300;
  color: #1f2937;
  line-height: 28px;
  border: none !important;
  border-radius: 10px !important;
}

.financial-performance .accordion-body section {
  display: flex;
  align-items: center;
  padding: 0px 0;
  align-items: center;

}

.financial-performance .accordion-body section p {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: 500;
  line-height: 24px;
  color: #1F2937;
  margin: 0;
  width: 50%;

}

.financial-performance .accordion-body h2 {

  font-size: 24px;
  font-family: Helvetica;
  font-weight: 300;
  line-height: 24px;
  color: #6B7280;
  margin: 0;

}

.financial-performance .accordion-body div {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;

}



.financial-performance .accordion-body span {
  display: flex;
  flex-direction: column;
  gap: 10px;

}



.s22 {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    gap: 12px;
    color:#4B5563;
    align-items: center;
    /* font-family: Helvetica; */
}

.s22 strong {
  font-size: 18px;
  color: black;
}

.financial-tabs {
  background-color: #F1F5F9 !important;
  padding: 4px;
  width: fit-content;
  border-radius: 8px !important;
  align-items: center;
  display: flex;
  margin-bottom: 16px;
}

.financial-tabs button {
  font-size: 14px !important;
  font-family: Helvetica;
  font-weight: 300;
  color: #64748B;
  line-height: 16px;
  padding: 5px 10px 5px 10px !important;
  border: none !important;
 
}

/* .financial-tabs .nav-item:hover{
    color: black;
    background-color: white !important;
    border-radius: 10px !important;
  
} */

.financial-tabs .nav-item button:hover {
  color: black;
  background-color: transparent;
  border-radius: 10px !important;

  border: none !important;
}

.financial-tabs .nav-link.active {
  color: black !important;
  background-color: white !important;
  border-radius: 8px !important;

  border: none !important;
}

.financial-tabs .nav-item button:active {
  color: black;
  background-color: white !important;
  border-radius: 0 !important;
}

.accordion-item {
  border-radius: 16px;
  border: 1px solid var(--Slate-200, #E2E8F0);
  box-shadow: 0 10px 15px -3px rgba(100, 78, 229, 0.10), 0 4px 6px -4px rgba(100, 78, 229, 0.10);
  margin-bottom: 24px;
  padding: 24px;
}

.accordion-item:not(:first-child){
  border-top: 1px solid var(--Slate-200, #E2E8F0);
}
.accordion-item:first-of-type{
  border-top-left-radius:16px;
  border-top-right-radius:16px
}
.accordion-item:last-of-type{
  border-bottom-right-radius:16px;
  border-bottom-left-radius:16px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  cursor: pointer;
}

.accordion-body {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
}
.revenue-count{
  display: flex;
  align-items: center;
  gap: 24px;
}
.metric-block {
  border-top: 1px solid #e5ebf0;
  padding-top: 12px;
}

.metric-block h4 {
  color: var(--Gray-500, #6B7280);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  /* 100% */
}

.metric-block:first-child {
  border-top: none;
  padding-top: 0;
}



.metric-block p {
  display: flex;
  align-items: center;
  color: var(--Gray-800, #1F2937);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  margin-bottom: 0;
}

.metric-block p span {
  flex: 1;
}

.positive {
  color: #16a34a;
  /* green */
  font-weight: 500;
}

.negative {
  color: #dc2626;
  /* red */
  font-weight: 500;
}