.laser-flow-container {
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: none;
}

.imageParent {
    /* position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; */
    /* margin-bottom: 100px; */
    position: relative;
    max-width: 100%;
}

.imageParent img {
    height: auto;
    width: 100%;


}

.bannerHeading {
    position: absolute;
    top: 150px;
    max-width: 1280px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px 32px;
}

.bannerHeading h1 {
    font-size: 66px;
    font-weight: 700;
    color: white;
}

.bannerHeading h1 span:first-child {
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 50%, #D8BF7E 100%);
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 50%, #D8BF7E 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.bannerHeading h1 span:last-child {
    background: linear-gradient(180deg, #FDF7FE 0%, #D8BF7E 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bannerHeading p {
    color: #E5E5E7;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.778px;
    max-width: 630px;
}

.overlayEffect {
    position: absolute;
    top: 75%;
    left: 0;
    /* max-height: 200px; */
}

.bottomText {
    max-width: fit-content;
    display: flex;
    gap: 0px;
    align-items: center;
    margin: 16px 0;
    color: #E5E7EB;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Helvetica Neue";
    letter-spacing: 0.303px;
}

.descText {
    padding-top: 40px;
}

.descText>p {
    color: #D4D4D8;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 300;
}

.dotIcon {
    margin: 0px 1px;
    max-width: max-content;
}

.mideSection {
    background: linear-gradient(180deg, #111 0%, rgba(17, 17, 17, 0.00) 100%);
    width: 100%;
    height: 150px;
    flex-shrink: 0;
}

.hideOnMobile {
    display: block;
}

.overlayEffectLarge {
    position: absolute;
    bottom: -70%;
    left: 0;
    z-index: 99;
}

@media (max-width: 1440px) {
    .laserFlowVideo {
        top: calc(52% - 18px) !important;
        left: calc(15% - 6px) !important;
        width: calc(59% + 7px) !important;
    }
}

@media (max-width: 1380px) {
    .laserFlowVideo {
        left: calc(14% - 13px) !important;
        width: calc(61% + 16px) !important;
    }
}


@media (max-width: 1280px) {
    .laserFlowVideo {
        left: calc(11% - 13px) !important;
        width: calc(66% + 16px) !important;
    }
}

@media (max-width: 1166px) {
    .laserFlowVideo {
        left: calc(8% - 19px) !important;
        width: calc(72% + 17px) !important;
    }
}

@media (max-width: 1024px) {
    .laserFlowVideo {
        top: calc(52% - 18px) !important;
        left: calc(0%) !important;
        width: calc(85% - 10px) !important;
    }

    .bottomText {
        flex-wrap: wrap;
        font-size: 0.75rem;
        padding: 1rem 0.5rem;
    }
}


@media (max-width: 768px) {
    .laserFlowVideo {
        top: calc(52% - 18px) !important;
        left: calc(0%) !important;
        width: calc(95% - 0px) !important;
    }


    .bottomText>span {
        padding: 0.25rem 0.4rem;
    }

    .bannerHeading h1 {
        font-size: 42px;
    }

    .bannerHeading p {
        font-size: 17px;
        max-width: 100%;
    }
}

@media (max-width: 700px) {
    .laserFlowVideo {
        left: calc(0%) !important;
        width: 100% !important;
    }

    .overlayEffect {
        top: 80%;
    }

    .hideOnMobile {
        display: none;
    }
}

@media (max-width: 480px) {


    .bannerHeading h1 {
        font-size: 32px;
    }

    .bannerHeading p {
        font-size: 16px;
        max-width: 100%;
        line-height: 1.4;
    }

    .laserFlowVideo {
        width: 100% !important;
        height: auto !important;
        left: unset !important;
    }

    .bannerHeading {
        padding: 16px;
    }

}