.container {
  /* max-width: 800px; */
  width: 936px;
  background-color: rgba(255, 255, 255, 1);
  margin: 60px auto;
  padding: 34px;
  border-radius: 24px;
  color: #333;
  line-height: 1.6;
}

.heading {
  font-size: 28px;
  font-weight: 100;
  
  color: rgba(31, 41, 55, 1);
}
.hr{
   margin-top: 25px;
  margin-bottom: 30px;
  background-color: rgba(229, 231, 235, 1);
  height: 1px;
  border: none;
}

.date {
  color: rgba(107, 114, 128, 1);
  font-size: 14px;
  margin-bottom: 20px;
}

.date span {
  font-weight: bold;
}

.intro {
  font-weight: bold;
  color: rgba(31, 41, 55, 1);
  font-size: 16px;
  margin-top: 10px;
}

.text {
  margin-bottom: 20px;
  color: rgba(75, 85, 99, 1);
  font-size: 14px;
}

.h2 {
  margin-top: 20px;
   color: rgba(31, 41, 55, 1);
  font-size: 15px;
  font-weight: bold;
}
.p{
    font-size: 14px;
    color: rgba(75, 85, 99, 1);
  
}

.ul {
  padding-left: 20px;
  list-style-type: disc;
  font-size: 14px;
    color: rgba(75, 85, 99, 1);
}

.li {
  font-size: 14px;
  margin-bottom: 5px;
    color: rgba(75, 85, 99, 1);
}
