.wrapper {
  margin: 1rem 0;
}

.progressBar {
  background: #da5454;
  border-radius: 6px;
  height: 16px;
  width: 100%;
  overflow: hidden;
}

.fill {
  background: linear-gradient(90deg, #c5a100, #e0c868);
  height: 100%;
  border-radius: 6px;
  transition: width 0.5s ease; /* smooth animation */
}

.label {
  margin-top: 0.3rem;
  text-align: right;
  font-size: 0.9rem;
  color: #333;
}
