.chatbot-head {
  display: flex;
  padding: 15px 0px 5px 0px;
  border-bottom: 1px solid #e5e7eb;
}

.chatbot-head svg {
  width: 20px;
  height: 20px;
}

.chatbot-head path {
  /* stroke: #C9A74E; */
}


.chatbot-head svg:hover {
  cursor: pointer;
}

.chatbot-head h2 {
  gap: 8px;
  display: flex;
  font-size: 20px;
  font-family: Helvetica;
  padding: 0px 15px;
  color: #1f2937;
  font-weight: 300;
}

.chatbot-maincontainer {
  width: 100%;
  min-height: fit-content;
  height: 760px;
  max-height: 800px;
  position: sticky;
  top: 0rem;
  background: white;
  padding: 12px 16px;
  border-radius: 20px;
}

.chatbot-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: -webkit-fill-available;
  align-items: center;
  padding: 20px 0px 10px 0px;
}

.chatbot-body-section1 h2 {
  background: linear-gradient(to bottom, #E7DFC2 ,#CCB264, #6691EF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px 16px;
  font-size: 54px;
  font-weight: 500;
  font-family: Helvetica;
}

.chatbot-body-section1 p {
    padding: 0px 16px;
  color: #6b7280;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  font-family: Helvetica;
}

.chatbot-body-section1 {
  padding: 16px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.default-chatbot-data {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
}
.default-chatbot-data p {
  width: fit-content;
  font-size: 14px;
  font-weight: 400;
  font-family: Helvetica;
  color: #4b5563;
  margin: 10px 0px;
  border: 1px solid #d1d5db;
  border-radius: 20px;
  padding: 10px 15px;
}

.chatbot-body section {
  width: 100%;
}
.chatbot-body input {
  border: none;
  font-size: 14px;
  font-family: Helvetica;
  width: 90%;
  padding: 6px 0px;
}
.chatbot-body input:focus-visible {
  outline: none;
}

.chatbot-body-section2 {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 24px; 
  border: 1px solid #E4C575; 
  align-items: center;
  padding: 10px;
  background: white; 
}

.chatbot-body-section2 {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #E4C575;
  border-radius: 24px; 
  overflow: hidden; 
}
.chatbot-body-section2 input {
  border: none;
  outline: none;
  flex: 1;
  padding: 16px;
  font-style: italic;
  color: #6b7280;
}
.chatbot-body-section2 img {
  width: 48px;
  height: 48px;
}
.chatbot-body-section2 svg {
   stroke:  white;
  width: 20px;
  height: 24px;
  background-image: url("/assets/pictures/Button-Hover.png");
}
.private-deal {
  background-color:  #171717 !important;
}

.private-deal .chatbot-maincontainer {

  color: #fff;
}

.private-deal .chatbot-head {
  border-bottom: 1px solid #FFFFFF1A;
}

.private-deal .chatbot-head h2 {
  color: white !important;
}
.private-deal .chatbot-head .arrow path{
  stroke: white;
}
.private-deal .default-chatbot-data p {
  color: #ffff !important;
  border: 1px solid #FFFFFF26 !important;
}


.private-deal .chatbot-body-section2 input ,
.private-deal .chatbot-body-section2 {
  background-color: #000;
  color: #6B7280;
}