.container {
  width: 50%;
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  display: contents;
  padding: 30px;
 /* height: 36px; */
  background-color: rgba(255, 255, 255, 1);
}

.heading {
  color: rgba(31, 41, 55, 1);
  font-size: 32px;
  font-weight: 300;

}

.hr {
  border: none;
  background-color: rgba(229, 231, 235, 1);
  height: 1px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  gap: 20px;
}

.card {

  padding: 16px;
  border-radius: 20px;
  border: 1px solid rgba(229, 231, 235, 1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tags {
  display: flex;
  gap: 10px;
}

.tag {
  background: rgba(236, 236, 240, 1);
  color: rgba(36, 36, 36, 1);
  /* width: 28px; */
  padding: 6px 13px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;

}

/* .companyLogo{
    display: flex;
    flex-direction: column;
  } */

.img,
.company {
  display: inline-block;

}

.img {
  margin-right: 10px;
}


.company {
  color: rgba(31, 41, 55, 1);
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.description {
  color: rgb(150, 154, 165);
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
  font-style: light;
  margin: unset;
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  /* margin-top: 10px; */
}

.details div {
  flex: 1;
}

.details strong {
  font-size: 12px;
  font-weight: 400;
  color: rgb(150, 154, 165);
  display: block;
  /* margin-bottom: 4px; */
}

.details p {
  font-size: 13px;
  font-weight: 400;
  color: rgba(31, 41, 55, 1);
  margin: unset;
}


.buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.buttons button {
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(68, 49, 151, 0.27);
  padding: 6px 12px;
  font-weight: 500;
  border-radius: 40px;
  font-size: 12px;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;

  cursor: pointer;
  transition: all 0.2s;
}

.buttons button:hover {
  background: #eee;
}

.statusBox {
  background: rgba(181, 145, 49, 0.13);
  /* border: 1px solid #ddd; */
  padding: 12px;
  border-radius: 12px;
  font-size: 13px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 📱 Mobile view */
@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 15px;
  }

  .heading {

  display: none;
  }

  .grid {
    grid-template-columns: 1fr;
    /* sab card ek line me */
  }

  .details {
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 8px;
  }

  .buttons {
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 100%;
  }

  .buttons button {
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 100%;
  }
}

/* 📱 Chhoti devices (500px se kam) */
@media (max-width: 480px) {
  .heading {
    font-size: 20px;
  }

  .card {

    border: none;
    box-shadow: 1px 1px 8px rgba(117, 117, 117, 0.3);
    display: flex;
    flex-direction: column;

  }

  .description {
    font-size: 14px;
  }

  .company {
    font-size: 13px;
  }

}