.container {
  width: 70%;
  margin: 0 auto;
  padding: 30px;
}

.heading {
  font-size: 32px;
  font-weight: 700;
  font-style: bold;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  padding: 16px;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tags {
  display: flex;
  gap: 10px;
}

.tag {
  background: rgba(236, 236, 240, 1);
  color: rgba(36, 36, 36, 1);
  padding:10px;
  border-radius: 6px;
  font-style: medium;
  font-size: 12px;
  font-weight: 500;

}
  /* .companyLogo{
    display: flex;
    flex-direction: column;
  } */

  .img ,.company{
    display: inline-block;
    
  }
  .img{
    margin-right: 10px;
  }


.company {
  color: rgba(31, 41, 55, 1);
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.description {
  color: rgba(107, 114, 128, 1);
  font-size: 16px;
  font-weight: 300;
  font-style: light;
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  /* margin-top: 10px; */
}

.details div {
  flex: 1;
}

.details strong {
  font-size: 12px;
  font-weight: 400;
  color: rgba(107, 114, 128, 1);
  display: block;
  margin-bottom: 4px;
}
.details p{
  font-size: 13px;
  font-weight: 500;
 color:  rgba(31, 41, 55, 1);
}

.buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.buttons button {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 40px;
  font-size: 12px;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  
  cursor: pointer;
  transition: all 0.2s;
}

.buttons button:hover {
  background: #eee;
}

.statusBox {
  background: rgba(181, 145, 49, 0.13);
  /* border: 1px solid #ddd; */
  padding:12px;
  border-radius: 12px;
  font-size: 13px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
