.container {
  /* max-width: 700px; */
  width: 936px;
  height: 791px;
  background-color: #fdfdfd;
  /* margin: 0px auto; */
  /* margin-top: 60px; */
  border-radius: 24px;
  padding: 32px;

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
}

.heading {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 8px;
  color: rgba(31, 41, 55, 1);

}

.divider {
  border: none;
  margin-top: 30px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.documentRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
}

.docName {
  font-size: 16px;
  font-weight: 400;
}

.emailBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  color: rgba(177, 140, 7, 1);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.emailBtn:hover {
  text-decoration: underline;
}

.icon {
  font-size: 16px;
}

/* ---------- Responsive ---------- */
@media (max-width: 1024px) {
  .container {
    width: 90%;
    height: auto;
    padding: 24px;
  }
}

@media (max-width: 768px) {
  .documentRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .emailBtn {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 18px;
    display: none;
  }

  .docName {
    font-size: 14px;
  }

  .container {
    margin: 20px auto;
    padding: 16px;
  }
}