  .container {
  background-color: #FFFFFF;
  color: #1F2937;
  padding:24px 24px 24px 24px ;
  border-radius: 32px;
  /* font-family: Arial, sans-serif; */
}

.title {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}



.dropdown {
  border-radius: 10px;
  margin-bottom: 1rem;

}

.header {
  /* border: 1px solid red; */
 /* margin: 30px 0px 20px 0px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
  cursor: pointer;

}

.hr {
  /* border: none; */
  height: 1px;
  background-color: #F3F4F6;
  opacity: 0.1;
}


.collapse,
.collapsing {
  transition: height 0.35s ease; /* Bootstrap default */
}


.products {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(3, 1fr); /* default: 1 column (mobile) */
  margin-top: 1rem;
  margin-bottom: 24px;
}

.card {
  width: 100%;
  height: auto; 
}

.cardImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


/* .cardImage {
  border-radius: 10px;
  margin-bottom: 0.5rem;
} */

.p {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  padding: 10px 0px;
  margin: 0;
}

 .strong {
  display: inline-block;
  color:#64748b;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0px;
}

.ul{
   padding: 0;
  margin: 0;

}

.ul li {
  font-size: 14px;
  font-weight: 400;
  color: #64748b;
  padding: 5px 0px ;
  list-style: none;
  

}

.ul .list{
    font-size: 14px;
  font-weight: 400;
  color: #64748b;
  padding: 5px 0px ;
  list-style: disc;
  margin-left: 25px;
  
}

.highlight {
  color: #B59131;
  font-weight: bold;
}

.clients {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.clientCard {

  width: 368px;
  height: 115px;
  background-color: rgb(245, 245, 245);
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  font-weight: 300;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper {
  display: inline-flex;
  transition: transform 0.3s ease;
}

.iconWrapper.open {
  transform: rotate(180deg);
}


/* ==============================================Add Private deal css =========================================================== */
.privateDeal {
    background: #171717 !important ;
    color: #FFFFFF !important;
}


.privateDeal .products{
  background-color: #171717 !important;
}
.privateDeal .strong{
  color: #9CA3AF !important;
}
.privateDeal .ul li, 
.privateDeal .p{
  color: #D4D4D8 !important;
}
.privateDeal .clientCard{
  background-color: #FFFFFF !important;
  color: #171717 !important;
}



/* =======================Responsive ui =========================== */

@media(max-width:920px){
  .container{
    padding: 24px;
    
  }
}

@media(max-width:480px){
  .container{
    padding-top: 0;
  }
}
