.body-section4{
    display: flex;
    gap: 80px;
    /* justify-content: space-around; */
    align-items: center;
     
}

.body-section4 section{
   
    display: flex;
    width: 30%;
    flex-direction: column;
    padding: 0px 15px;
}
.seperator{
    height: 1px;
    width: 100%;
    background-color: #E5E7EB;
}

.body-section4 .bank-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.body-section4 .bank-sec section{
    width: fit-content !important;
}

.body-section4 p{
    color: #6B7280;
        font-weight: 400;
    font-family: Helvetica;
    line-height: 28px;
    font-size: 12px;
    margin: 0;
}

.body-section4 h6{
    white-space: nowrap;
    
    color: #1F2937;
    font-size: 20px;
    font-weight: 500;
    font-family: Helvetica;
    line-height: 28px;
}

.subs1-top, .subs1-topp{
    color: #6B7280;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30% !important;
    background-color: #F3F4F6;
        border-radius: 10px;
    padding: 15px 16px;
    color: #6B7280;
}

.subs1-topp{
    background-color: #1D1D1D;
    width: 50% !important;
}
.smallcard-section-subcontainer{
       color: #6B7280;
    display: flex;
        gap: 21px;
}

.subs1-top div, .subs1-topp div{
  
display: flex;
flex-direction: row;
justify-content: space-between;

}

.smallcard-section-subcontainer-div{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #6B7280;
}

.data{
    color: #878787 !important;
}

.drhp{
    color: #B59131 !important;
    display: flex;
}

.drhp svg{
    margin: 0 10px;
height: 24px;
width: 24px;
}

.valuation-bg{
    background-color: #3F3F3F;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valuation-bg-light{
    background-color: white;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}