    @import url('https://fonts.cdnfonts.com/css/helvetica-neue-5?styles=103506');

                
                
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

.bod-section .accordion-collapse {
  height: 0%;
  max-height: 200px;
  opacity: 1 !important;
  overflow: hidden;
  transition: all 1s ease;

}

.bod-section .accordion-collapse.show {
  height: 100%; /* adjust if your content is bigger */
}