.postDealMainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3% 6% 8% 6%;
    gap: 24px;
    /* border: 1px solid black; */
    align-items: center;
}

.postDealInnerContainer {
    width: 80%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    /* flex-wrap: wrap; */
}

.TopDealContainer {
    position: sticky;
    top: 0;
}

@media (max-width: 1024px) {
    .TopDealContainer {
        display: none;
    }

    .postDealMainContainer {
        padding: 0;
    }
}
@media (max-width: 640px){
    .postDealInnerContainer{
        width: 100%;
    }
}