.account_details {
  font-family: Helvetica, sans-serif;
  display: flex;
  
  border-radius: 24px;
  margin-top: 60px;
  
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  font-family: helvetica;


}

.Link {
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
}


.sidebar {
   position: relative;
  width: 320px;

  background: (255, 255, 255, 1);
  padding: 20px;

  border-radius: 12px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.profile {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: linear-gradient(to bottom, rgba(243, 244, 246, 1) 0%, rgba(255, 255, 255, 1) 100%);
  text-align: center;
  margin-bottom: 40px;
  padding-top: 20px;
}

.avatar {
  width: 120px;
  height: 120px;
  background: #b89027;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
  font-style: medium;
  border: 7px solid rgba(255, 255, 255, 1);
  margin: 0px auto 10px;
}

.id {
  font-weight: 500;
  font-size: 20px;
  color: rgba(31, 41, 55, 1);
}

.name {
  color: rgba(107, 114, 128, 1);
  font-size: 16px;
  font-weight: 400;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  font-size: 14px;
  font-weight: 400;
 font-style: medium;
  align-items: center;
  padding: 12px 16px;
  color: rgba(107, 114, 128, 1);
  border-radius: 30px;
  transition: background 0.3s ease;
  cursor: pointer;

}

.item:hover {
  background: rgba(201, 167, 78, 1);
  color:rgba(255, 255, 255, 1)  ;
}

.active {

  color:  rgba(107, 114, 128, 1);

}


.icon,
.user_icon {

  margin-right: 10px;
  

}
.logout_section{

}

.logout {
  position: absolute;
  bottom: 12px;
  font-size: 13px;
  font-weight: 500;
  margin-top: 40px;
  padding: 12px 16px;
  border-radius: 30px;
  color: rgba(107, 114, 128, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
      text-align: start;
    width: 280px;
}
.hr{

 
  margin-top: 25px;
  border: none;
   background-color: rgba(229, 231, 235, 1); 
  height: 1px; 
}

.logout:hover {
  background: rgba(201, 167, 78, 1);
  color:rgba(255, 255, 255, 1) ;


}

.item .span:hover {
  background: rgba(201, 167, 78, 1);
  transition: background 0.3s ease;
  color:rgba(255, 255, 255, 1) ;
}

.user_icon:hover {
  color: aliceblue;
}
.item :hover{
  color:rgba(255, 255, 255, 1) ;
 
}






/* 


.sidebar {
  position: fixed;
  top: 0;
  left: -280px; 
  width: 260px;
  height: 100%;
  background: #fff;
  border-right: 1px solid #ddd;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
}


.show {
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 999;
}


.toggleBtn {
  background: #c9a74e;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px;
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 60px;
  height: 60px;
  background: #c9a74e;
  color: white;
  border-radius: 50%;
  line-height: 60px;
  margin: 0 auto 10px;
  font-weight: bold;
}

.id {
  font-size: 12px;
  color: gray;
}

.name {
  font-weight: 600;
  margin-top: 5px;
}


.nav {
  list-style: none;
  padding: 0;
}

.item {
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s ease;
}

.item:hover {
  background: #f5f5f5;
}


.logout_section {
  margin-top: auto;
  padding-top: 20px;
}

.logout {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hr {
  height: 1px;
  background: #eee;
  margin-bottom: 10px;
} */
