.account_details{
  display: flex;
/* gap: 24px; */
border-radius: 24px;
  margin-top: 60px;
  margin-bottom: 60px;
justify-content: center;
background-color:  rgba(255, 255, 255, 1);


}
.Link{
  text-decoration: none;
  color: #555 ;
}


.sidebar {
  width: 320px;
  /* height: 700px; */
  height: 100%;
  background: (255, 255, 255, 1);
  padding: 20px;

  border-radius: 12px;
  font-family: sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.profile {
  border-top-left-radius: 20px ;
  border-top-right-radius: 20px ;
  background: linear-gradient(to bottom, rgba(243, 244, 246, 1) 0%, rgba(255, 255, 255, 1) 100%);
  text-align: center;
  margin-bottom: 30px;
      padding-top: 20px;
}

.avatar {

  width: 100px;
  height: 100px;
  background: #b89027;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  border: 7px solid rgba(255, 255, 255, 1);
  margin: 0px auto 10px;
}

.id {
  font-weight:500;
  font-size: 20px;
}

.name {
  color: #555;
  font-size: 14px;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;

  padding: 12px 16px;
  color: #555;
  border-radius: 30px;
  transition: background 0.3s ease;
  cursor: pointer;
  /* margin-bottom: 8px; */
}

.item:hover {
  background: rgba(201, 167, 78, 1);
}

.active {
  /* background: rgba(201, 167, 78, 1); */
  color: #555;
  
}

.icon {
  
  margin-right: 10px;
}

.logout {
  margin-top: 40px;
  padding: 12px 16px;
  border-radius: 30px;
  color: #555;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logout:hover {
  background: rgba(201, 167, 78, 1);
}
.item .span:hover     {
    background: rgba(201, 167, 78, 1);

}
