.account_details {
  font-family: Helvetica, sans-serif;
  display: flex;
  /* gap: 24px; */
  /* height: 100%; */
  border-radius: 24px;
  margin-top: 60px;
  /* margin-bottom: 60px; */
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  font-family: helvetica;


}

.Link {
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
}


.sidebar {
   position: relative;
  width: 320px;
  /* height: 700px; */
  background: (255, 255, 255, 1);
  padding: 20px;

  border-radius: 12px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.profile {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: linear-gradient(to bottom, rgba(243, 244, 246, 1) 0%, rgba(255, 255, 255, 1) 100%);
  text-align: center;
  margin-bottom: 40px;
  padding-top: 20px;
}

.avatar {
  width: 120px;
  height: 120px;
  background: #b89027;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
  font-style: medium;
  border: 7px solid rgba(255, 255, 255, 1);
  margin: 0px auto 10px;
}

.id {
  font-weight: 500;
  font-size: 20px;
  color: rgba(31, 41, 55, 1);
}

.name {
  color: rgba(107, 114, 128, 1);
  font-size: 16px;
  font-weight: 400;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  font-size: 14px;
  font-weight: 400;
 font-style: medium;
  align-items: center;
  padding: 12px 16px;
  color: rgba(107, 114, 128, 1);
  border-radius: 30px;
  transition: background 0.3s ease;
  cursor: pointer;
  /* margin-bottom: 8px; */
}

.item:hover {
  background: rgba(201, 167, 78, 1);
  color:rgba(255, 255, 255, 1)  ;
}

.active {
  /* background: rgba(201, 167, 78, 1); */
  color:  rgba(107, 114, 128, 1);

}
/* .hr{
  margin-top: 25px;
  border: none;
  background-color: rgba(229, 231, 235, 1);
  height: 1px;
} */

.icon,
.user_icon {

  margin-right: 10px;
  

}
.logout_section{
  /* position: relative; */
  /* bottom: 0px; */
}

.logout {
  position: absolute;
  bottom: 12px;
  font-size: 13px;
  font-weight: 500;
  margin-top: 40px;
  padding: 12px 16px;
  border-radius: 30px;
  color: rgba(107, 114, 128, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
      text-align: start;
    width: 280px;
}
.hr{
  /* position: absolute;
  bottom: 30px; */
  margin-top: 25px;
  border: none;
   background-color: rgba(229, 231, 235, 1); 
  height: 1px; 
}

.logout:hover {
  background: rgba(201, 167, 78, 1);
  color:rgba(255, 255, 255, 1) ;


}

.item .span:hover {
  background: rgba(201, 167, 78, 1);
  transition: background 0.3s ease;
  color:rgba(255, 255, 255, 1) ;
}

.user_icon:hover {
  color: aliceblue;
}
.item :hover{
  color:rgba(255, 255, 255, 1) ;
  /* filter: invert(50%) sepia(100%) hue-rotate(200deg); */
}